<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kadeeno.tech</title>
    <link rel="stylesheet" href="/styles/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/mdi/mdi-icons.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.4.47/css/materialdesignicons.min.css"
        integrity="sha512-/k658G6UsCvbkGRB3vPXpsPHgWeduJwiWGPCGS14IQw3xpr63AEMdA8nMYG2gmYkXitQxDTn6iiK/2fD4T87qA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- highlight -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <!-- katex -->
    <script src="/js/katex/katex.min.js"></script>
    <link rel="stylesheet" href="/styles/katex/katex.min.css">
    <!-- mermaid -->
    <script type="module" src="/styles/mermaid/mermaid.min.js"></script>




</head>

<body>
    <header hidden>
        <%- include('../partials/nav') %>
    </header>
    <div class="container text-white">
        <div class="mt-4">
            <a href="/posts" class="btn btn-custom-dark sticky-top">
                <span>
                    <i class="mdi mdi-arrow-left"></i> All posts
                </span>
            </a>
            <div class="btn-group sticky-top">
                <% if (isWriter || isAdmin) { %>
                    <a href="/posts/edit/<%= article.id %>?_method=PUT" class="btn btn-custom-dark">Edit</a>
                    <a href="/admin" class="btn btn-orange">Dashboard</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <div>

                        <form action="/posts/<%= article.id %>/publish?_method=PUT" method="POST">
                            <button type="submit" class="btn btn-custom-dark">Publish</button>
                        </form>
                    </div>
                    <% } %>
            </div>
            <h1 class=" mb-1 mt-3">
                <%= article.title %>
            </h1>
            <h6>
                <%= article.description %>
            </h6>
            <div class="text-muted mb-2">
                <%= article.createdAt.toLocaleDateString() %>
            </div>
            <div id="content">
                <%- article.sanitizedHtml %>
            </div>
        </div>
        <div class="d-flex">
            <div class="me-5" hidden>
                <span class="text-danger"><i class="mdi mdi-heart-outline"></i></span>

                <% if (article.likes> 0 && article.likes < 100) { %>
                        <span class="text-white">
                            <%= article.likes %>
                        </span>
                        <% } else { %>
                            <span class="text-white">
                                99+
                            </span>
                            <% }%>
            </div>
            <!-- <div>
                <span><i class="mdi mdi-comment-multiple-outline"></i></span>
                <span class="">99+</span>
            </div> -->
        </div>
        <hr>

        <!-- Likes -->
        <div hidden>
            <div>
                <div class="d-flex justify-content-start">
                    <form action="/posts/<%= article.slug %>/like" method="POST" class="me-5">
                        <div class="icon-color d-flex flex-column align-items-center mb-5">
                            <button type="submit" style="background: none; border: none; padding: 0; margin: 0;">
                                <span class="color-white"><i class="mdi mdi-thumb-up"></i></span>
                                <span class="text-white">Likes</span>
                            </button>
                        </div>
                    </form>
                    <!-- <form action="">
                        <div class="icon-color d-flex flex-column align-items-center">
                            <button type="submit" style="background: none; border: none;" id="show-comments">
                                <i class="mdi mdi-comment-processing-outline"></i>
                            </button>
                        </div>
                    </form> -->
                </div>

            </div>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", () => {

                document.querySelectorAll('pre code').forEach((block) => {
                    if (!block.classList.contains('mermaid')) {
                        hljs.highlightElement(block);
                    }
                });
                mermaid.initialize({ startOnLoad: true });

            });
        </script>
        <script src="/styles/bootstrap-js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/js/fontawesome.min.js"
            integrity="sha512-NeFv3hB6XGV+0y96NVxoWIkhrs1eC3KXBJ9OJiTFktvbzJ/0Kk7Rmm9hJ2/c2wJjy6wG0a0lIgehHjCTDLRwWw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <!-- katex -->
        <script type="module">
            import renderMathInElement from "/js/katex/auto-render.mjs";
            document.addEventListener("DOMContentLoaded", () => {
                renderMathInElement(document.body);
            });
        </script>


</body>

</html>