<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/mdi/materialdesignicons.min.css">
    <link rel="stylesheet" href="/mdi/webfont.css">

    <link rel="icon" href="/assets/favicon_io/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/favicon_io/android-chrome-512x512.png" type="image/png" sizes="1512x512">
    <link rel="icon" href="/assets/favicon_io/android-chrome-192x192.png" type="image/png" sizes="192x192">
    <link rel="icon" href="/assets/favicon_io/favicon-32x32.png" type="image/png" sizes="32x32">
    <link rel="icon" href="assets/favicon_io/favicon-16x16.png" type="image/png" sizes="16x16">
    <link rel="icon" href="/assets/favicon_io/apple-touch-icon.png" type="image/png">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.4.47/css/materialdesignicons.min.css"
        integrity="sha512-/k658G6UsCvbkGRB3vPXpsPHgWeduJwiWGPCGS14IQw3xpr63AEMdA8nMYG2gmYkXitQxDTn6iiK/2fD4T87qA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/bootstrap/bootstrap.min.css">

    <!-- <link href="./css/styles.css" rel="stylesheet" /> -->
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/admin/assets/vendors/mdi/css/materialdesignicons.min.css">

    <link rel="stylesheet" href="/resume/style.css">

    <title>about</title>
</head>

<body>
    <div class="mb-5">
        <%- include('../partials/nav') %>
    </div>
    <div class="resume max-screen">
        <div class="base">
            <div class="profile">
                <%- include('profile') %>
            </div>
            <div class="about">
                <h3>About Me</h3>
                <%- include('about-me') %>
            </div>
            <div class="follow">
                <h3>Contact & Follow</h3>
                <%- include('contact-me') %>
            </div>
        </div>
        <div class="func">
            <div class="work">
                <h3><i class="fa fa-briefcase"></i>Experience</h3>
                <%- include('experience') %>
            </div>
            <div class="edu">
                <h3><i class="fa fa-graduation-cap"></i>Education</h3>
                <%- include('education') %>

            </div>
            <div class="skills-prog">
                <h3><i class="fas fa-code"></i>Programming Skills</h3>
                <%- include('programming-skills') %>

            </div>
            <div class="skills-soft">
                <h3><i class="fas fa-bezier-curve"></i>Software Skills</h3>
                <%- include('software-skills') %>

            </div>
            <div class="interests">
                <h3><i class="fas fa-star"></i>Leadership & Activivities </h3>
                <%- include('leadership-activities') %>

            </div>
        </div>
    </div>
    <div>
        <%- include('../partials/footer') %>
    </div>

    <script src="/resume/resume.js"></script>
    <script src="/resume/print.js"></script>
    <script src="/styles/bootstrap-js/bootstrap.min.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>

</body>

</html>